# This is Git's per-user configuration file.
[includeIf "gitdir:~/work/"]
  path = .gitconfig-work
[includeIf "gitdir:~/school/"]
  path = .gitconfig-school
[includeIf "gitdir:~/personal/"]
  path = .gitconfig-personal
[commit]
	gpgsign = true
[http]
	postBuffer = 157286400
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
